body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  color: #213547;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  border: 1px solid grey;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1264px;
  margin: auto;
  padding: 0 32px;

  @media (max-width: 768px) {
    padding: 0 16px;
  }

  &__main-selectors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 32px 24px;

    @media (max-width: 768px) {
      padding: 24px 16px;
    }
    
    .chart-selector {
      display: flex;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__main-outer {
    position: relative;
  }

  &__main {
    background-color: #fbfbfb;
    border-radius: 8px;
    padding: 16px 24px;

    @media (max-width: 768px) {
      padding: 0 16px;
    }
  }

  &__intro {
    display: flex;
    padding: 16px 0;
    align-items: center;
    gap: 64px;
    justify-content: space-between;
    max-width: calc(100% - 140px);

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      max-width: none;
    }
  }

  &__intro-text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #263746;
    font-size: 18px;
    margin: 0;
    font-size: 20px;
  }

  &__subtitle {
    font-size: 12px;
    color: #67737D;
  }

  &__group-selector {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    align-items: flex-start;
    gap: 4px;
  }

  &__chart-container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    width: 100%;
    height: 293px;
  }

  &__chart-bottom-content {
    gap: 16px;
  }

  &__chart-bottom-content-refs {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    padding: 24px 0;

    @media (max-width: 768px) {
      padding-top: 32px;
      align-items: flex-start;
    }
  }

  &__chart-bottom-content-note {
    color: #67737D;
    font-family: Flama;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
  }
}

select {
  display: flex;
  padding: 9px 12px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

.hide {
  display: none;
}

// chart dropdown
.download-chart {
  display: flex;
  position: absolute;
  right: 24px;
  top: 24px;

  @media (max-width: 768px) {
    position: static;
    margin-bottom: 8px;
  }

  &__trigger {
    background: rgba($color: #263746, $alpha: 0.08);
    border-radius: 32px;
    z-index: 1;
    border: none;
  }

  &__dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    top: 0;
    background: rgba($color: #263746, $alpha: 0.08);
    width: 100%;
    padding-top: 40px;
    z-index: 0;
    border-radius: 22px;
    padding-bottom: 4px;

    &--hidden {
      display: none;
    }
  }

  &__btn {
    align-items: flex-start;
    display: flex;
    border: none;
    background: none;
  }
}

// chart custom legend
.custom-legend {
  display: flex;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
  }

  &__color {
    display: flex;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 8px;
  }

  &__label {
    font-size: 12px;
    line-height: 140%;
  }
}

// chart reference
.ref {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;

  p {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #F2F2F1;
    color: #67737D;
    font-size: 12px;
    line-height: 140%;
  }
}